{% extends 'base.html' %}
{% block content %}
{% load staticfiles %}


<main role="main">
    <div class="container">
        <hr>
    <h1 class="text-center pt-3">
        Welcome to Eshank's Blog
    </h1>
    <br>
    {% if blogs %}
    <h2>
        Latest posts
    </h2>
    <hr>
    {% for blog in blogs.all %}
        <h3><a href="{% url 'detail' blog.id %}">{{ blog.title }}</a></h3>
        <p>{{ blog.pub_date_pretty }}</p>
        <p><img class="img-fluid" src="{{ blog.image.url }}" alt="" height="200" width="200"></p>
        <p>{{ blog.summary }}</p>
        <hr>    
    {% endfor %}
    {% else %}
      <h2 class="text-center">No Blogs Available!!!</h2>
    {% endif %}
    </div>
    
</main>

{% endblock %}
