{% extends 'base.html' %}


{% block content %}
{% load staticfiles %}

<main role="main">

  <section class="jumbotron text-center">
    <div class="container">
      <h1>Hi, I am Eshank</h1>
      <p class="lead text-muted">My name is Eshank, will add to it...</p>
      <p><a href="mailto:eshank.vaish@gmail.com" class="btn btn-primary my-2">Email</a></p>
      <!--<img src="{% static 'eshank1.jpg' %}" alt="" height="400" width="400">-->
    </div>
  </section>

  <div class="album py-5 bg-light">
    <div class="container">

      {% if jobs %}
      <h2>Latest Jobs</h2>
      <br>
      <div class="row">
        
        {% for job in jobs.all %}
        <div class="col-md-4">
          <div class="card mb-4 box-shadow">
            <img class="card-img-top" src="{{ job.image.url }}" alt="">
            <div class="card-body">
              <p class="card-text">{{ job.summary }}</p>
            </div>
          </div>
        </div>
        {% endfor %}
        
      </div>
    
      {% endif %}
    </div>
  </div>

</main>

{% endblock %}
