{% extends 'base.html' %}


{% block content %}
{% load staticfiles %}

<main role="main">

  <section class="jumbotron text-center" style="margin-bottom: 0px; padding-bottom: 40px;">
    <div class="container">
      <div class="row">
        <div class="col-3">
          <img class="img-fluid" src="{% static 'eshank1.jpg' %}" alt="" height="300px" width="300px" style="border: 1px solid black;">
        </div>
        <div class="col-9 text-left">
          <h2>About</h2>
            <hr>
            <p class="lead" style="font-size: 1.2rem;">
              Experienced Python/Django Developer & Software Quality Assurance Engineer with a demonstrated history of working in the information technology and services industry. Skilled in Python, Django, HTML, Cascading Style Sheets (CSS), JavaScript, C++, Manual Testing & Product Management. Strong development & management professional with a B.Tech focused in Computer Science from Galgotia's College of Engg. & Technology, Greater Noida.               <br>
              Apart from it, I have keen interest in the personal finance, economics and technology and how we can utilize the power of technology to tackle the problems faced by people.
            </p>
        </div>      
      </div>
    </div>

  </section>
  <div class="album py-5 jumbotron" style="padding-top: 0px !important; padding-bottom: 0px !important;">
    <div class="container">
      <h2>Education</h2>
      <hr>
      <ul>
        <li>
        <p>
          <b>B.Tech, Computer Science (2017-2021)</b>
          <br>
          Galgotia's College of Engg. & Technology
          <br>
          CGPA: 8.81/10
        </p>
    </li>
    <li>
  
        <p>
          <b>XII (Senior Secondary)</b>
          <br>
          Year of Completion: 2017
          <br>
          CBSE Board (Mother Athena School)
          <br>
          Percentage: 94.4%
        </p>
  
    </li>
    <li>
        <p>
          <b>X (Secondary)</b>
          <br>
          Year of Completion: 2015
          <br>
          CBSE Board (Mother Athena School)
          <br>
          CGPA: 9.8/10
        </p>
    </li>
    </ul>
    </div>
    <div class="container">
      <h2>Skills</h2>
      <hr>
      <ul>
        <li>
          <b>Programming Language</b>
            <ul>
              {% for p in programming %}
                <li>{{ p.name }}</li>
              {% endfor %}
            </ul>
        </li>
        <li>
        <b>Web Development</b>
            <ul>
              {% for w in web %}
                <li>{{ w.name }}</li>
              {% endfor %}
            </ul>
        </li>
        <li>
        <b>Storage Technologies</b>
            <ul>
              {% for s in storage %}
                <li>{{ s.name }}</li>
              {% endfor %}
            </ul>
        </li>
        <li>
        <b>Softwares</b>
            <ul>
              {% for s in software %}
                <li>{{ s.name }}</li>
              {% endfor %}
            </ul>
        </li>
        <li>
        <b>Other Skills</b>
            <ul>
              {% for other in others %}
                <li>{{ other.name }}</li>
              {% endfor %}
            </ul>
        </li>
      </ul>
    </div>
    <div class="container">
      <h2>Internships</h2>
      <hr>
      <ul>
        <li>
          <b><a href="https://www.atg.world" target="_blank" style="text-decoration: none; color: inherit;">Across The Globe (ATG)</a></b>
          <ul>
            <li>
              Python / Django Developer Intern <br>
              <span class="text-muted"> January 2020 - April 2020</span>
            </li>
            <li>
              Software Quality Assurance Lead Intern <br>
              <span class="text-muted"> January 2020 - April 2020</span>
            </li>
            <li>
              Software Quality Assurance Intern <br>
              <span class="text-muted"> August 2019 - December 2019</span>
            </li>
          </ul>
        </li>
        <li>
          <b><a href="http://www.ecell-fms.com/" target="_blank" style="text-decoration: none; color: inherit;">Entrepreneurship Cell, FMS Delhi</a></b>
          <ul>
            <li>
              Campus Ambassdor <br>
              <span class="text-muted"> January 2019 - February 2019</span>
            </li>
          </ul>
        </li>
      </ul>
    </div>
    <div class="container">
      <h2>Projects</h2>
      <hr>
      <ul>
          {% for project in projects %}
          <li>
            <b>{{ project.title }}</b>
              <ul>
                <li>{{ project.summary }}</li>
                <li><a href="{{ project.url }}" target="_blank" style="text-decoration: none; color: inherit;">View on GitHub <i class='fas fa-external-link-alt'></i></a></li>
              </ul>
          </li>
        {% endfor %}
      </ul>
    </div>
  
  
</div>
</main>

{% endblock %}
